@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.space-mono-reg {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-reg {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kumbh-sans-reg {
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
